.installments{
    font-size: 9px;
    color: #052C46;
    text-align: left;
    line-height: 22px;
}
.installmentsNumber{
    font-size: 9px;
    color: #052C46;
    font-weight: 400;
}
.installmentValue{
    font-size: 9px;
    color: #052C46;
    font-weight: 400;
}
.installmentValue::before{
    content: ' de';
    margin-right: 2px;
    font-weight: 400;
}
.sellingPrice {
    text-align: left;
}
.sellingPriceValue::before{
    content: 'Por:';
    font-size: 12px;
    color: #02477E;
    margin-right: 2px;
    font-weight: 900;
}
.sellingPriceValue{
    color: #02477E;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}

.installments--price-install-prod{
    font-size: 16px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 16px;
}
.installmentsNumber--price-install-prod::after{
    font-size: 16px;
    margin-right: 5px;
}