.headerRowBackground--main-header {
    background: #052C46;
    padding: 0 0 15px 0;
}
.headerRowContainer{
    justify-content: space-between;
}
.headerRowBackground--main-menu{
    background: #052C46;
    border-top: 2px solid #FDC300;
}
.headerRowContentContainer--stick__header_desk{
    padding: 0 !important;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.headerStickyRow--main-menu{
    width: 100%;
}
.headerRowContainer--stick__header_desk{
    flex-wrap: wrap;
}
.headerStickyRow--main-header{
    width: 100%;
}
.headerRowBackground--stick__header_desk{
    background: #052C46;
}
.headerRowBackground--top-bar{
    background: #FDC300;
}