.newsletterForm {
    display: flex;
    max-width: 700px;
}

.emailInputContainer {
    flex-grow:1;
    margin-right: -1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.emailInputContainer :global(.vtex-input-prefix__group){
    background: #fff;
    height: 60px;
    border: 0;
}

.defaultSuccessMessage {
    color: #fff;
    border: 1px solid #052C46;
    background: #052C46;
    padding: 1rem;
    margin: 0px;
    display: block;
    text-align: center;
    border-radius: 0.3rem;
    background: #8bc34a1f;
    text-transform: uppercase;
    font-weight: 500;
}
.formSubmitContainer :global(.vtex-button){
    position: relative;
    width: 70px;
    background: #FDC300;
    border: 0;
    height: 60px;
}
.formSubmitContainer :global(.vtex-button)::after{
    content: url(assets/svg/seta-news.svg);
    position: absolute;
    top: 32%;
    left: 30%;
}
.formSubmitContainer :global(.vtex-button__label){
    font-size: 0px;
}
.newsletterForm--news{
    align-items: center;
}