:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDotsContainer{
    bottom: 10px;
}
.paginationDot--carousel{
    background: #fff;
}
.paginationDot--carousel--isActive{
    background:#FDC300;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory{
    padding: 0 25px;
}
.sliderLayoutContainer--carousel{
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sliderArrows--slidercategory{
    background: #FDC300 !important;
    border-radius: 50px;
    width: 36px;
    height: 36px;
}
.caretIcon--slidercategory{
    color: #fff;
    width: 15px;
}
.slideChildrenContainer--slidercategory :global(.vtex-flex-layout-0-x-flexCol){
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideChildrenContainer--slidercategory :global(.vtex-flex-layout-0-x-flexColChild){
    min-height: 46px;
}
.slide--slidercategory{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide--sliderbenefitsfooter{
    border-left: 1px solid #02477E;
}
.slide--sliderbenefitsfooter--firstVisible{
    border: 0;
}
/* Mobile */
@media (max-width: 1023px) {
    .slide--sliderbenefitsfooter{
        border: 0;
    }
}