.container--shelf :global(.vtex-product-summary-2-x-nameContainer) {
  justify-content: left;
}
.container--shelf{/*padding: 10px;*/position: relative;}

.element--shelf .brandName{
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 15px;
  color: #282D2F;
  font-weight: 900;
}
.nameContainer{
  justify-content: left;
}
.element--shelf .nameContainer{
  padding-bottom: 0;
  font-size: 16px;
  min-height: 75px;
  text-align: left;
}
.priceContainer{
  padding: 0.5rem 0;
}
.element--shelf{
  border: 0.75px solid #D9D9D9;
  border-radius: 8px;
  padding: 15px;
}
.element--shelf :global(.vtex-button){
  background: #fff;
  color: #052C46;
  text-transform: inherit;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  margin-top: 15px;
  border: 1px solid #052C46;
  font-weight: 600;
  height: 50px;
}
.sellingPrice{
  color: #052C46;
  font-size: 33px;
  font-weight: bold;
} 

/* LISTS E GRID SEARCH */

.container--listLayout{
  max-width: none!important;
}
.brandName{
  font-size: 16px;
}
.productBrand--summaryListDesktop{
  font-size: 16px;
  font-weight: 600;
}