:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent {
    color:#fff;
    font-weight: 900;
    white-space: break-spaces;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    display: flex;
    align-items: center;
}
.styledLinkContainer--dropdown-departamentos{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 0px !important;
}
:global(.vtex-store-header-2-x-headerRowContainer--main-menu) .styledLinkContent--dropdown-departamentos {
    color: #fff;
    font-weight: 900;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.menuContainerNav{width: 100%;}
.menuContainer {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.submenuWrapper{
    width: 100%;
    padding: 0;
}
:global(.vtex-category-menu-2-x) .departmentList {
    display: block;
    height: auto;
}

.menuItem--dropdown-departamentos{
    color:#666;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    text-align: center;
    height: 70px;
}

.menuItem--dropdown-departamentos .submenuContainer {
    position: absolute;
    top: 100%;
    width: 100%;
}

:global(.vtex-menu-2-x-styledLinkIcon) .c-action-primary  {
    color: #fecc16;
    width: 20px;
    height: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  :global(.vtex-menu-2-x-menuItem) :global(.vtex-menu-2-x-styledLinkContainer) {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.styledLinkContent--menu-top{
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}
.styledLinkIcon--menu-vendedor .rebel-pink {
    width: 25px;
    height: 25px;
}
.styledLinkContainer--menu-top{
    margin-left: 0;
}