.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: #02477E;
    width: max-content;
    background: #fff;
    z-index: 1;
    margin: 25px auto;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 18px;
}


:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    background: #052C46;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelfvitrine) .caretIcon{
    color: #fff;
}