.link--duvidas-bottom-tel{
    text-decoration: none;
    margin-left: 10px;
    color: #282D2F;
    font-weight: 800;
}
.link--submenu-tilte-mob{
    text-decoration: none;
}
.label--submenu-tilte-mob{
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
    color: #052C46;
}